doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Google fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

        link(rel="stylesheet", href="/static/css/base.css")
        link(rel="stylesheet", href="/static/css/progress.css")
        block style

        title Home
    body 
        nav 
            a#logo LOGO
            //- a.nav-link(href="#") link 1 
            //- a.nav-link(href="#") link 2 
            //- a.nav-link(href="#") link 3 
            //- a.nav-link(href="#") link 4
            if user
                a.nav-link(href=dashboardLoadingUrl) Dashboard

            if user 
                #profile-dropdown
                    img(src=`${user.profile._json.avatar_url}`)
                    #dropdown
                        a#logout-btn(href="/logout") Logout
            else
                a#login-btn(href="/login") Login with GitHub
        
        #progress-container
            #progress-circle
                #progress-text
                    #message
                    #numbers

        
        main
            block main

        script(src="/static/js/base.js") 
        block script